body {
    margin: 20px;
    /*
    Challenge:
    Find a web safe font you like, and add it 
    to your card.
    */
    font-family: Courier New, Courier, monospace;
}

.avatar {
    width: 150px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5)
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #29BF12;
    color: #2b2839;
    border-bottom: 6px solid #08BDBD;
        
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}

.border-blue {
    border: 1px dotted blue;
}

.zoom-box {
  transition: transform .2s; /* Animation */
}

.zoom-foto {
  transition: transform .2s; /* Animation */
  
}

.zoom-box:hover {
  transform: scale(1.15);
}

.zoom-foto:hover {
  transform: scale(1.15);
}

/*
Stretch goals:
Find other ways you can personalize 
the design of your business card, e.g.:
- change the border(s)
- add border radius
- shuffle the layout
- shadows        🤯
- hover effects  🤯🤯
- animations     🤯🤯🤯
*/

